
<div>
  <div>
      <form id="mygamesForm">
        <label for="game">Game: </label>
        <input type="text" id="game" name="game" ng-model="mygames.newGame.game" />
        <label for="number_players">Number of Players: </label>
        <input type="text" id="number_players" name="number_players" ng-model="mygames.newGame.number_players" />
        <label for="time_to_play">Playing Time: </label>
        <input type="text" id="time_to_play" name="time_to_play" ng-model="mygames.newGame.time_to_play" />
        <label for="expansion">Is it an Expansion?: </label>
        <input type="text" id="expansion" name="expansion" ng-model="mygames.newGame.expansion" />
        <button ng-click="mygames.addGame()">Add Game</button>
      </form>
    </div>
    <h2>Games I Own</h2>
    {{mygames.factoryd}}
    <div>
      <table class="table" ng-model="mygames">
        <thead>
          <tr>
          <th>Game</th>
          <th>Number of Players</th>
          <th>Playing Time</th>
          <th>Is it an Expansion?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game in mygames.games">
          <td>{{game.game}}</td>
          <td>{{game.number_players}}</td>
          <td>{{game.time_to_play}}</td>
          <td>{{game.expansion}}</td>
          <td></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
